{% load static %}
<header>
        <nav class="navbar navbar-dark navbar-bg">
            <a class="navbar-brand" href="{% url 'home' %}">Electredo</a>
            <form class="form-inline search-box" method="GET" action="/s/">
              <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0 search-btn" type="submit">Search</button>
            </form>
          </nav>
    </header>