{% load static %}
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
    <section class="catogrie-section">
        <div class="container-fluid">
            <div class="row row-cols-lg-5 row-cols-sm-2 row-cols-md-4">
                {% for film in films %}
                <div class="box-item card">
                    <div class="item-img">
                        <a href="{% url 'film' film.id film.slug%}">
                            <img src="{{ film.image.url }}">
                        </a>
                    </div>
                    <div class="item-name">
                        <a href="{% url 'film' film.id film.slug%}">
                            <h4>{{ film.title }}</h4>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% for series in series1 %}
                <div class="box-item card">
                    <div class="item-img">
                        <a href="{% url 'series' series.id series.slug%}">
                            <img src="{{ series.image.url }}">
                        </a>
                    </div>
                    <div class="item-name">
                        <a href="{% url 'series' series.id series.slug %}">
                            <h4>{{ series.title }}</h4>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% include 'footer.html' %}
</body>
</html>