{% load static %}
    <br><br>
    <footer>
        <br>
        <div class="container">
            <div class="row row-cols-12">
                <div class="copyright-text">
                    <p>
                        Copyright ©
                        <script type="text/javascript">document.write(new Date().getFullYear());</script>
                        All rights reserved | This Website is made by
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <a href="https://www.facebook.com/RiyadElberkawy" target="_blank">Riyad Elberkawy</a>
                     </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="https://kit.fontawesome.com/04047a6bed.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{% static 'js/pooper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mine.js' %}"></script>
</body>
</html>